{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="/static/global/profile.css" rel="stylesheet">

<style>
	.input-hidden {
		position: absolute;
		left: -9999px;
	}
	input[type=radio]:checked + label>img {
		border: 1px solid blue;
		box-shadow: 0 0 3px 3px #3366ff;
	}
</style>

{% endblock %}

{% block title %}
	Part 2 of 4 - Application
{% endblock %}

{% block content %}

<div id="page2" style="display:block">

	<p>Your job application portfolio is the <em>only</em> information about you that the employers will see.</p>

	{% if player.treatment != 2 %}<p>Your application portfolio consists of {% if player.treatment == 1 %}(1) your avatar and (2) {% endif %}your evaluation of your performance on the test you completed in Part 1. The employers <em>do not</em> see {% if player.treatment == 0 %}your avatar or {% endif %}how many questions you answered correctly in Part 1, but they do see the average number of <em>application</em> questions answered correctly by all applicants.</p>

	{% else %}<p>Your application portfolio consists of (1) your avatar, (2) your evaluation of your performance on the test you completed in Part 1, (3) your performance on the ten <em>application</em> questions from Part 1, and (4) the average number of <em>application</em> questions answered correctly by all applicants.</p>{% endif %}

	<p>A quick reminder: in Part 1, you correctly answered {{ player.eval_correct }} out of the 10 <em>application</em> questions.<p>

	<p>Among 100 MTurkers who took the ASVAB test previously, your performance on the 10 <em>application</em> questions is as good as or better than {{ better_than }} of them and worse than {{ worse_than }} of them.</p>

	<p>Click next to continue to create your job application portfolio.</p>

	<button type="button" class="btn-primary btn next" onclick="show('page3', 'page2')">Next</button>
</div>

<div id="page3" style="display:none">

	<p>Answer the following questions, which will be shown to employers as {% if player.treatment != 0 %}part of {% endif %}your application portfolio. Each portfolio shown to employers will only include your response to <em>one</em> of the following three questions.</p>

	{% formfield player.self_eval label="Based on the information you received about other applicants' performance on the task, please indicate how well you think you performed on the <em>application</em> questions in the cognitive ability test" %}
	<p id="not-complete-error1" style="color:red; display:none">Select one of the choices to continue.</p>
	<br>
	<div class="form-group required">
		<p>On a scale from 0 (entirely disagree) to 100 (entirely agree), please indicate the extent to which you agree with the following statement:</p>
		<p style="text-align:center">"I performed well on the application questions."</p>
		<div class="slider-container">
			<input id="agree" type="hidden" name="self_eval_agree">
		    <input id="rangeInput" type="range" min="0" max="100" step="1" class="slider" onclick="updateAgreeResponse()" oninput="updateAgreeResponse()"/>
				<p><span id="amount" style="font-weight:bold">--</span> out of 100</p>
		</div>
		{{ form.self_eval_agree.errors }}
	</div>
	<p id="not-complete-error2" style="color:red; display:none">Select one of the choices to continue.</p>
	<br>
	{% formfield player.self_eval_statement label="Please choose one of the following statements to accompany your application:" %}

	<p id="not-complete-error3" style="color:red; display:none">Select one of the choices to continue.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page2', 'page3')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="seeProfile()">Next</button>

</div>

<div id="page4" style="display:none">

	<p>Great! That's all the information needed for your application.</p>
	<p>Click "Next" to go to the next stage or "Back" to go back and edit your responses.</p>
	<button type="button" class="btn-primary btn back" onclick="show('page3', 'page4')">Back</button>
	<button class="btn-primary btn next">Next</button>

</div>

{% endblock %}

{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="{% static 'applicant/js/applicationQuestions.js' %}"></script>

{% endblock %}
