{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="{% static 'gender_norms/css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
	Stage 2
{% endblock %}

{% block content %}

<div id="page1">
<p>In this stage of the experiment, you will apply to a job based on your ability in answering ASVAB questions.</p>

<p>Recall that, in stage 1, we randomly selected 10 of the 20 ASVAB questions for your bonus payment -- we’ll call these 10 questions your “evaluation questions.” Potential employers, who will be MTurkers similar to you, will offer you a wage based on their assessment of the profile you submit here. The employer that hires you will get a bonus based on your answers to 10 of the questions you answered (the ones not included in your evaluation questions), so they will be willing to pay you a higher wage if they think you are better at answering the ASVAB questions. If this stage is selected for the bonus payment, you will receive that wage (up to $1) as your bonus payment.</p>
<p>We will randomly select 10 out of the 20 questions you answer, and if this stage is the stage selected for your bonus payment, you will receive a bonus payment of 10 cents times the number of those questions that you answer correctly, in addition to your base payment of $X.</p>

<p>In the next stage, you will answer more questions for your “employer.”</p>

<p>Please answer the following question to check your understanding:</p>

{% formfield player.understanding3 label="Which of the following is true?" %}

{% next_button %}

{% endblock %}

{% block scripts %}

<script src="{% static 'applicant/js/show.js' %}"></script>

{% endblock %}
