{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="{% static 'gender_norms/css/custom.css' %}" rel="stylesheet">
<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		max-width: 200px;
	}
</style>

{% endblock %}

{% block title %}
	Stage 1
{% endblock %}

{% block content %}

<div id="display-order" style="display:none">
  {{ player.question_order }}
</div>

<h3 id="question-indicator"> Question <div id="question-number" style="display:inline">1</div> of 20:</h3>

<div id="1" style="display:none">
{% formfield player.q1 label="If a pencil is placed in a clear glass of water and viewed from the side, the pencil will appear to bend sharply at the top of the water. This is due to a phenomenon known as __________." %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('1')">Next</button>
</div>

<div id="2" style="display:none">
{% formfield player.q2 label="Which of the following activities results in a chemical change?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('2')">Next</button>
</div>

<div id="3" style="display:none">
{% formfield player.q3 label="Which of the following best describes the difference between eukaryotic cells and prokaryotic cells?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('3')">Next</button>
</div>

<div id="4" style="display:none">
{% formfield player.q4 label="In which level of the atmosphere does all the weather take place?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('4')">Next</button>
</div>

<div id="5" style="display:none">
{% formfield player.q5 label="If |y-3|=3, what is the greatest possible value of y?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('5')">Next</button>
</div>

<div id="6" style="display:none">
{% formfield player.q6 label="Two teams are having a contest in which the prize is a box of candy that the members of the winning team will divide evenly. If team A wins, each player will get exactly 3 pieces of candy, and if team B wins, each player will get exactly 5 pieces of candy. Which of the following could be the number of pieces of candy in the box?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('6')">Next</button>
</div>

<div id="7" style="display:none">
{% formfield player.q7 label="What is the least common multiple of 7, 9, and 21?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('7')">Next</button>
</div>

<div id="8" style="display:none">
{% formfield player.q8 label="A copier can make 150 copies per minute. At this rate, how many minutes would it take to make 4,500 copies?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('8')">Next</button>
</div>

<div id="9" style="display:none">
{% formfield player.q9 label="What is the height of a rectangular box with volume of 140, length of 10, and width of 7?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('9')">Next</button>
</div>

<div id="10" style="display:none">
{% formfield player.q10 label="(3d - 7) - (5 - 2d) =" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('10')">Next</button>
</div>

<div id="11" style="display:none">
{% formfield player.q11 label="The following two points lie on a line on the coordinate grid: (-2, 0) and (4, 6). Which of the following is the equation of the line?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('11')">Next</button>
</div>

<div id="12" style="display:none">
{% formfield player.q12 label="Manuel is 4 years older than Grace. The total of their ages in years is 30. How old will Manuel be 3 years from now?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('12')">Next</button>
</div>

<div id="13" style="display:none">
{% formfield player.q13 label="The work required to lift an object is the same as" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('13')">Next</button>
</div>

<div id="14" style="display:none">
{% formfield player.q14 label="Adam's car is stuck in the mud, so he recruits some friends to help push it out. If they apply 2,000 N of force to push the car 5 m, how much work did they accomplish?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('14')">Next</button>
</div>

<div id="15" style="display:none">
{% formfield player.q15 label="A machine in an assembly plant lifts parts weighing 10 N from the floor to a height of 2 m. If this machine must lift batches of 20 parts at a time in 2 seconds, what amount of power is required?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('15')">Next</button>
</div>

<div id="16" style="display:none">
{% formfield player.q16 label="A man pushes against an object at rest but fails to get it moving. Which of the following must be true about the relationship between the applied force and the force of friction?" %}
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('16')">Next</button>
</div>

<div id="17" style="display:none">
{% formfield player.q17 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes1.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('17')">Next</button>
</div>

<div id="18" style="display:none">
{% formfield player.q18 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes2.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('18')">Next</button>
</div>

<div id="19" style="display:none">
{% formfield player.q19 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes3.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('19')">Next</button>
</div>

<div id="20" style="display:none">
{% formfield player.q20 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes4.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn" onclick="nextQuestion('20')">Next</button>
</div>

<div id="done" style="display:none">
<h5>Complete!</h5>
{% next_button %}
</div>

<p id="not-complete-error" style="color:red; display:none">Select one of the choices to continue.</p>

{% endblock %}

{% block scripts %}

<script src="{% static 'applicant/js/asvabqs.js' %}" onload="firstQuestion()"></script>

{% endblock %}
