{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Part 1 of 4 - Instructions for ASVAB Questions
{% endblock %}

{% block content %}

<p>In this part, you will complete a test made up of 20 questions from the Armed Services Vocational Aptitude Battery (ASVAB), with four questions from each of the following five categories: general science, arithmetic reasoning, math knowledge, mechanical comprehension, and assembling objects.</p>

<p>You will be shown the questions one at a time and cannot go back to questions that you have already answered.</p>
<p>We will randomly select 10 out of the 20 questions you answer. Let’s call these 10 questions “application questions.” Let’s call the other 10 questions that are not chosen “job performance questions.” For this part, you will receive a payment of 10 cents times the number of <em>application</em> questions that you answer correctly, in addition to your base payment of ${{ Constants.payment }} and your bonus payments from the other parts.</p>

<p>Complete the following statement to check your understanding before continuing:</p>
{% formfield player.understanding2 label="Your bonus payment for this part" %}

<button class="btn-primary btn next">Next</button>

{% endblock %}

{% block scripts %}

{% endblock %}
