{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Demographic survey
{% endblock %}

{% block content %}

    <p>This study starts with a short demographic survey followed by tasks involving decision making. Please answer the following survey questions to the best of your ability.</p>


    {% formfield player.age label="What is your age?" %}

    {% formfield player.gender label="What gender do you identify as?" %}

    {% formfield player.education label="What is the highest degree or level of education you have completed?"%}

    {% formfield player.resident label="Are you a U.S. resident?" %}

    {% next_button %}
{% endblock %}
