{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Part 3 of 4 - Instructions
{% endblock %}

{% block content %}

<div id="page1">

<p>In this part, you will see different versions of your job application portfolio and of other applicants' portfolios. For each portfolio you see, you will guess the amount that a randomly chosen employer would pay for that portfolio.</p>

<p>One of your guesses will be randomly chosen, and if it is within 5 cents of the value actually chosen by a randomly selected employer who sees that portfolio, your bonus payment for Part 3 will be $1.00.</p>

<br>
<p>Answer the following question to check your understanding:</p>
{% formfield player.understanding4 label="For this part, I will receive a bonus payment of $1.00 for one of my guesses"%}

<button class="btn-primary btn next">Next</button>

{% endblock %}

{% block scripts %}

<script src="/static/global/js/show.js"></script>

{% endblock %}
