{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="{% static 'gender_norms/css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
	Overview
{% endblock %}

{% block content %}


<div id="page1">
<p>In this study, you will play the role of a job applicant.</p>

<p>This study has three parts, meant to simulate a job interview process. You have an opportunity for a bonus payment in each part.</p>

<ul>
	<li>In Part 1, you will take a cognitive ability test consisting of 20 questions as part of the job interview process; the bonus for Part 1 depends on how well you do in these questions.</li>

	<li>In Part 2, you create your job application portfolio. Based on this portfolio, employers will bid on a wage to pay you for your work in Part 1. The highest bid will be your Part 2 bonus.</li>

	<li>In Part 3, you will make a guess about what wage the employers will offer you and other Mturkers with different job application portfolios. The bonus for Part 3 depends on how accurately you make these guesses.</li>
</ul>

<p>For completing this study, you are guaranteed to receive $X within 24 hours. You will also receive a bonus payment based on your performance in one randomly selected part out of the three parts. This bonus payment will be up to $X.</p>

<p>By completing this study, you will receive a guaranteed payment of $X within 24 hours. You will also receive a bonus payment based on your performance in a randomly-selected stage out of one of the three stages. This bonus payment will be up to $X.</p>

<button type="button" class="btn-primary btn" onclick="show('page2', 'page1')" style="display:block">Next</button>
</div>

<div id="page2" style="display:none">
	<p>Answer the following question to check your understanding:</p>
	{% formfield player.understanding1 label="Which of the following is true?" %}
	<button type="button" class="btn-primary btn back" onclick="show('page1', 'page2')" style="display:block">Back</button>
	<button class="btn-primary btn next" style="display:block">Next</button>
</div>

{% endblock %}


{% block scripts %}

<script src="{% static 'applicant/js/show.js' %}"></script>
<script src="{% static 'applicant/js/checkUnderstanding.js' %}"></script>
<script type="text/javascript">
	checkUnderstanding('id_understanding1', 'page2', 'page1')
</script>

{% endblock %}
