{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="{% static 'applicant/css/custom.css' %}" rel="stylesheet">
<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		max-width: 200px;
	}

	.profile {
		background-color: #e1e1ea;
		margin: 10px 30px 10px 20px;
		padding: 20px 20px;
		text-align: center;
	}
</style>
{% endblock %}

{% block title %}
	Part 3 of 3 - Performance Guesses
{% endblock %}

{% block content %}

<div id="page1">

	<p>The following profiles are profiles that employers will see based on <em>your responses</em> in the application. For each version, select the number of number of job performance questions you think that an employer who sees that portfolio would estimate you correctly solved.</p>

	<p>If one of the portfolios is selected for a bonus payment and your guess is within <em>1</em> of the number that a randomly selected employer thinks you solved based on that portfolio, your bonus payment will be $1.00.</p>
	<br>
	<button type="button" class="btn-primary btn" onclick="show('page2', 'page1')">Next</button>
</div>

<div id="page2" style="display:none">

	<h5>My portfolios: 1 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 evaluation questions.</p>{% endif %}
		<p>The applicant rated {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} performance as {{ player.self_eval }}.</p>
	</div>

	<label class="col-form-label">
		I estimate that, based on this portfolio, the employer's guess about the number of job performance questions I correctly solved will be:
	</label>

	<div class="slider-container">
	    <input id="rangeInput" type="range" name="perform_guess1" min="0" max="10" step="1" class="slider" oninput="amount.value=rangeInput.value"/>
			<input id="amount" type="number" value="5" min="0" max="10" step="1" oninput="rangeInput.value=amount.value" style="width: 50px;"/> out of 10
	</div>
	{{ form.perform_guess1.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page1', 'page2')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page3', 'page2')">Next</button>

</div>

<div id="page3" style="display:none">

	<h5>My portfolios: 2 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 evaluation questions.</p>{% endif %}
		<p>When asked to rate {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} level of agreement with the following questions on a scale from 0 (entirely disagree) to 100 (entirely agree), the applicant gave the following answers:</p>
		<p>"I performed well on the test I took in Part 1." <b>{{ player.self_eval_agree0 }} out of 100</b></p>
		<p>"Usually I am the best at what I do." <b>{{ player.self_eval_agree1 }} out of 100</b></p>
		<p>"I conduct all tasks assigned to me with the needed attention." <b>{{ player.self_eval_agree2 }} out of 100</b></p>
	</div>

	<label class="col-form-label">
		I estimate that, based on this portfolio, the employer's guess about the number of job performance questions I correctly solved will be:
	</label>

	<div class="slider-container">
		<input id="rangeInput2" type="range" name="perform_guess2" min="0" max="10" step="1" class="slider" oninput="amount2.value=rangeInput2.value"/>
			<input id="amount2" type="number" value="5" min="0" max="10" step="1" oninput="rangeInput2.value=amount2.value" style="width: 50px;"/> out of 10
	</div>
	{{ form.perform_guess2.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page2', 'page3')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page4', 'page3')">Next</button>

</div>

<div id="page4" style="display:none">

	<h5>My portfolios: 3 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 evaluation questions.</p>{% endif %}
		{% if player.self_eval_statement != "I prefer not to include either of these statements in my application."%}<p>The applicant chose the following statement to accompany {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application:</p>
		<p>{{ player.self_eval_statement }}</p>
		{% else %}<p>The applicant chose to not include any statement with {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application.</p>{% endif %}
	</div>

	<label class="col-form-label">
		I estimate that, based on this portfolio, the employer's guess about the number of job performance questions I correctly solved will be:
	</label>

	<div class="slider-container">
		<input id="rangeInput3" type="range" name="perform_guess3" min="0" max="10" step="1" class="slider" oninput="amount3.value=rangeInput3.value"/>
			<input id="amount3" type="number" value="5" min="0" max="10" step="1" oninput="rangeInput3.value=amount3.value" style="width: 50px;"/> out of 10
	</div>
	{{ form.perform_guess3.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page3', 'page4')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page5', 'page4')">Next</button>

</div>

<div id="page5" style="display:none">
	<p>Great! Now for some questions about <em>other people's</em> application profiles.</p>

	<p>In the next few screens, you'll see some profiles of other MTurkers and be asked to guess the number of job performance questions that employers will think each applicant correctly answered based on their portfolios.</p>

	<p>If one of the portfolios is selected for a bonus payment and your guess is within <em>1</em> of the number that a randomly selected employer thinks you solved based on that portfolio, your bonus payment will be $1.00.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page4', 'page5')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startOther()">Next</button>
</div>

<div style="display:none">
	<!-- These values will not be displayed and are simply for sending parameters from the server to be used by the js code on this page -->
	<div id="wg-treatment">{{ player.wage_guess_treatment }}</div>
	<div id="wg-gender">{{ player.wage_guess_gender }}</div>
	<div id="wg-image">{{ player.wage_guess_image }}</div>
	<div id="wg-perform">{{ player.wage_guess_perform }}</div>
	<div id="wg-promote-type">{{ player.wage_guess_promote_type }}</div>
	<div id="wg-promote1">{{ player.wage_guess_promote1 }}</div>
	<div id="wg-promote2a">{{ player.wage_guess_promote2a }}</div>
	<div id="wg-promote2b">{{ player.wage_guess_promote2b }}</div>
	<div id="wg-promote2c">{{ player.wage_guess_promote2c }}</div>
	<div id="wg-promote3">{{ player.wage_guess_promote3 }}</div>
</div>

<div id="page6" style="display:none">

	<div class="profile">
		<img id="app-avatar" src="" alt="Applicant avatar">
		<p id="app-performance"></p>
		<div id="app-self-eval"></div>
	</div>

	<label class="col-form-label">
		I estimate that, based on this portfolio, the employer's guess about the number of job performance questions the applicant correctly solved will be:
	</label>

	<div class="slider-container">
		<input id="rangeInput4" type="range" name="perform_guess4" min="0" max="10" step="1" class="slider" oninput="amount4.value=rangeInput4.value"/>
			<input id="amount4" type="number" value="5" min="0" max="10" step="1" oninput="rangeInput4.value=amount4.value" style="width: 50px;"/> out of 10
	</div>
	<div id="default-range-val" style="display:none">5</div>
	<input id="hidden-input" type="hidden" name="perform_guess_other">
	{{ form.perform_guess_other.errors }}

	<button type="button" class="btn-primary btn back" onclick="backQuestion()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="page7" style="display:none">
	<p>That's it for the performance guesses! Click "Back" to edit your responses, or click "Next" to move on to guesses about social appropriateness.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page6', 'page7')">Back</button>
	<button class="btn-primary btn next">Next</button>
</div>


{% endblock %}

{% block scripts %}

<script src="{% static 'applicant/js/show.js' %}"></script>
<script src="{% static 'applicant/js/wageGuessOther.js' %}"></script>

{% endblock %}
