{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="/static/global/profile.css" rel="stylesheet">

{% endblock %}

{% block title %}
	Part 4 of 4 - Social Appropriateness Guesses
{% endblock %}

{% block content %}

<div id="page0">
	<p>This is the last stage of the experiment! You are almost done.</p>

	<p>In this part, you will again see different versions of your job application portfolio and of other applicants' portfolios.</p>

	<p>This time, your task for each portfolio you see is to guess how <em>socially appropriate</em> you think an employer would say the responses in that portfolio are.</p>

	<p>By “socially appropriate”, we mean behavior that most people agree is “reasonable” or “correct,” and consistent with proper social behavior in that context. By “socially inappropriate”, we mean behavior that most people agree will make them form a negative impression of the applicant.</p>

	<p>To determine your bonus payment for this part, we'll randomly select one of the portfolios from this part, and if your guess for that portfolio is the same as an employer's response for that portfolio, you'll receive a bonus of $1.00.</p>

	<button type="button" class="btn-primary btn next" onclick="show('page1', 'page0')">Next</button>
</div>

<div id="page1" style="display:none">

	<p>On the following three screens, you will again see different versions of the job application portfolio you created in Part 2.</p>

	<p>Remember, your task for each version of your portfolio is to guess how <em>socially appropriate</em> you think an employer would say the responses in that portfolio are.</p>

	<p>Like before, the employers will see <em>only</em> the information presented in each portfolio, plus the average number of job performance questions correctly answered by all applicants, which is {{ Constants.mean_performance }} out of 10.</p>

	<button type="button" class="btn btn-primary back" onclick="show('page0', 'page1')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page2', 'page1')">Next</button>
</div>

<div id="page2" style="display:none">

	<h5>My portfolios: 1 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p style="font-style: italic">The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		<p>The applicant rated {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} performance as {{ player.self_eval }}.</p>
	</div>

	<label class="col-form-label">
		I believe that an employer would consider the self-evaluation in this portfolio to be:
	</label>

	<div class="form-group required">
		<div class="controls field-approp_guess1">
			<ul id="id_approp_guess1">
				<li>
					<label for="id_approp_guess1_0">
						<input type="radio" name="approp_guess1" value="0" required id="id_approp_guess1_0" class="form-check-input">
						Very socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess1_1">
						<input type="radio" name="approp_guess1" value="1" required id="id_approp_guess1_1" class="form-check-input">
						Socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess1_2">
						<input type="radio" name="approp_guess1" value="2" required id="id_approp_guess1_2" class="form-check-input">
						Somewhat socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess1_3">
						<input type="radio" name="approp_guess1" value="3" required id="id_approp_guess1_3" class="form-check-input">
						Somewhat socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess1_4">
						<input type="radio" name="approp_guess1" value="4" required id="id_approp_guess1_4" class="form-check-input">
						Socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess1_5">
						<input type="radio" name="approp_guess1" value="5" required id="id_approp_guess1_5" class="form-check-input">
						Very socially appropriate
					</label>
				</li>
			</ul>
		</div>
	</div>
	{{ form.approp_guess1.errors }}

	<button type="button" class="btn-primary btn back" onclick="missing_response.style.display = 'none'; show('page1', 'page2');">Back</button>
	<button type="button" class="btn-primary btn next" onclick="checkBeforeAdvance(1)">Next</button>

</div>

<div id="page3" style="display:none">

	<h5>My portfolios: 2 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p style="font-style: italic">The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		<p>When asked to rate {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} level of agreement with the statement</p>
		<p>"I performed well on the test I took in Part 1,"</p>
		<p>on a scale from 0 (entirely disagree) to 100 (entirely agree), the applicant gave the following rating:</p>
		<p><b>{{ player.self_eval_agree }} out of 100</b></p>
	</div>

	<label class="col-form-label">
		I believe that an employer would consider the self-evaluation in this portfolio to be:
	</label>

	<div class="form-group required">
		<div class="controls field-approp_guess2">
			<ul id="id_approp_guess2">
				<li>
					<label for="id_approp_guess2_0">
						<input type="radio" name="approp_guess2" value="0" required id="id_approp_guess2_0" class="form-check-input">
						Very socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess2_1">
						<input type="radio" name="approp_guess2" value="1" required id="id_approp_guess2_1" class="form-check-input">
						Socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess2_2">
						<input type="radio" name="approp_guess2" value="2" required id="id_approp_guess2_2" class="form-check-input">
						Somewhat socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess2_3">
						<input type="radio" name="approp_guess2" value="3" required id="id_approp_guess2_3" class="form-check-input">
						Somewhat socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess2_4">
						<input type="radio" name="approp_guess2" value="4" required id="id_approp_guess2_4" class="form-check-input">
						Socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess2_5">
						<input type="radio" name="approp_guess2" value="5" required id="id_approp_guess2_5" class="form-check-input">
						Very socially appropriate
					</label>
				</li>
			</ul>
		</div>
	</div>
	{{ form.approp_guess2.errors }}

	<button type="button" class="btn-primary btn back" onclick="missing_response.style.display = 'none'; show('page2', 'page3');">Back</button>
	<button type="button" class="btn-primary btn next" onclick="checkBeforeAdvance(2)">Next</button>

</div>

<div id="page4" style="display:none">

	<h5>My portfolios: 3 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p style="font-style: italic">The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		{% if player.self_eval_statement != "I prefer not to include either of these statements in my application."%}<p>The applicant chose the following statement to accompany {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application:</p>
		<p>{{ player.self_eval_statement }}</p>
		{% else %}<p>The applicant chose to not include any statement with {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application.</p>{% endif %}
	</div>

	<label class="col-form-label">
		I believe that an employer would consider the self-evaluation in this portfolio to be:
	</label>

	<div class="form-group required">
		<div class="controls field-approp_guess3">
			<ul id="id_approp_guess3">
				<li>
					<label for="id_approp_guess3_0">
						<input type="radio" name="approp_guess3" value="0" required id="id_approp_guess3_0" class="form-check-input">
						Very socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess3_1">
						<input type="radio" name="approp_guess3" value="1" required id="id_approp_guess3_1" class="form-check-input">
						Socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess3_2">
						<input type="radio" name="approp_guess3" value="2" required id="id_approp_guess3_2" class="form-check-input">
						Somewhat socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess3_3">
						<input type="radio" name="approp_guess3" value="3" required id="id_approp_guess3_3" class="form-check-input">
						Somewhat socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess3_4">
						<input type="radio" name="approp_guess3" value="4" required id="id_approp_guess3_4" class="form-check-input">
						Socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess3_5">
						<input type="radio" name="approp_guess3" value="5" required id="id_approp_guess3_5" class="form-check-input">
						Very socially appropriate
					</label>
				</li>
			</ul>
		</div>
	</div>
	{{ form.approp_guess3.errors }}

	<button type="button" class="btn-primary btn back" onclick="missing_response.style.display = 'none'; show('page3', 'page4');">Back</button>
	<button type="button" class="btn-primary btn next" onclick="checkBeforeAdvance(3)">Next</button>

</div>

<div id="page5" style="display:none">

	<p>Great! Now for some questions about <em>other people's</em> application profiles. The next few screens will be just like the ones you just saw, but this time the profiles you see will be potential profiles from other applicants.</p>

	<p>Once again, your task for each version portfolio is to guess how socially appropriate you think an employer would say the responses in that portfolio are.</p>

	<p>Like before, the employers will see <em>only</em> the information presented in each portfolio, plus the average number of job performance questions correctly answered by all applicants, which is {{ Constants.mean_performance }} out of 10.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page4', 'page5')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startOther()">Next</button>
</div>

<div style="display:none">
	<!-- These values will not be displayed and are simply for sending parameters from the server to be used by the js code on this page -->
	<div id="treatment">{{ player.treatment}}</div>
	<div id="num-wg">{{ Constants.num_wg }}</div>
	<div id="wg-gender">{{ player.wage_guess_gender }}</div>
	<div id="wg-image">{{ player.wage_guess_image }}</div>
	<div id="wg-perform">{{ player.wage_guess_perform }}</div>
	<div id="wg-promote-type">{{ player.wage_guess_promote_type }}</div>
	<div id="wg-promote1">{{ player.wage_guess_promote1 }}</div>
	<div id="wg-promote2">{{ player.wage_guess_promote2 }}</div>
	<div id="wg-promote3">{{ player.wage_guess_promote3 }}</div>
</div>

<div id="page6" style="display:none">

	<h5>Other applicants' portfolios: <span id="other-app-num"></span></h5>
	<div class="profile">
		<img id="app-avatar" src="" alt="Applicant avatar">
		<p id="app-performance"></p>
		<div id="app-self-eval"></div>
	</div>

	<label class="col-form-label">
		I believe that an employer would consider the self-evaluation in this portfolio to be:
	</label>

	<div class="form-group required">
		<div class="controls field-approp_guess_other">
			<ul id="id_approp_guess_other">
				<li>
					<label for="id_approp_guess_other_0">
						<input type="radio" value="0" name="ago" required id="id_approp_guess_other_0" class="form-check-input">
						Very socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess_other_1">
						<input type="radio" value="1" name="ago" required id="id_approp_guess_other_1" class="form-check-input">
						Socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess_other_2">
						<input type="radio" value="2" name="ago" required id="id_approp_guess_other_2" class="form-check-input">
						Somewhat socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess_other_3">
						<input type="radio" value="3" name="ago" required id="id_approp_guess_other_3" class="form-check-input">
						Somewhat socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess_other_4">
						<input type="radio" value="4" name="ago" required id="id_approp_guess_other_4" class="form-check-input">
						Socially appropriate
					</label>
				</li>
				<li>
					<label for="id_approp_guess_other_5">
						<input type="radio" value="5" name="ago" required id="id_approp_guess_other_5" class="form-check-input">
						Very socially appropriate
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div id="default-range-val" style="display:none"></div>
	<input id="hidden-input" type="hidden" name="approp_guess_other">
	{{ form.approp_guess_other.errors }}

	<button type="button" class="btn-primary btn back" onclick="backQuestion()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="page7" style="display:none">
	<p>You've finished all the parts of the study! Click "Back" to edit your responses, or click "Next" to finish the study.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page6', 'page7')">Back</button>
	<button class="btn-primary btn next">Next</button>
</div>

<p id="missing-response-error" style="color:red; display:none">Choose one of the options above to proceed.</p>


{% endblock %}

{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="{% static 'applicant/js/wageGuess.js' %}"></script>
<script src="{% static 'applicant/js/appropGuess.js' %}"></script>

{% endblock %}
