{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="{% static 'applicant/css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
	Part 3 of 3 - Instructions for Wage Guesses
{% endblock %}

{% block content %}

<div id="page1">
<p>This is the last stage of the experiment!</p>

<p>In this part, you will</p>
<ul>
	<li>guess the highest wage <em>you</em> would be offered by the employers for your portfolio.</li>
	<li>guess the highest wage <em>other MTurkers</em> would be offered by the employers for their portfolios.</li>
</ul>

<p>One of your guesses will be randomly chosen, and if that guess is within 5 cents of the actual highest wage offer, then your bonus payment for this part will be $1.00.</p>

<p>To determine the wages, a group of employers will see each applicant's portfolio and offer a wage from 0 to 100 cents. The employer who offers the highest wage hires the applicant, pays the wage, and gets 10 cents for each performance question that the applicant answered correctly. It will be helpful to keep this in mind so you can make good guesses about the wage offers.</p>

<br>
<p>Answer the following question to check your understanding:</p>
{% formfield player.understanding4 label="If this stage is selected for payment, I will receive a bonus payment of $1.00 for one of my wage guesses"%}

{% next_button %}

{% endblock %}

{% block scripts %}

<script src="{% static 'applicant/js/show.js' %}"></script>

{% endblock %}
