{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

<link href="/static/global/custom.css" rel="stylesheet">
<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		max-width: 200px;
	}

	.profile {
		background-color: #e1e1ea;
		margin: 10px 30px 10px 20px;
		padding: 20px 20px;
		text-align: center;
	}
</style>
{% endblock %}

{% block title %}
	Part 3 of 3 - Wage Guesses
{% endblock %}

{% block content %}

<div id="page1">

	<p>On the following three screens, you will see different versions of the job application portfolio you created in Part 2.</p>
	<p>For each version of your portfolio, your task is to guess the highest amount that an employer who sees that portfolio would be willing to pay in exchange for 10 cents times the number of job performance questions you correctly answered.</p>

	<p>The employers will see <em>only</em> the information presented in each portfolio, plus the average number of job performance questions correctly answered by all applicants, which is {{ Constants.mean_performance }} out of 10.</p>

	<p>If one of the portfolios is selected for a bonus payment and your guess is within <em>5 cents</em> of the amount that a randomly selected employer would pay for the portfolio, your bonus payment will be $1.00.</p>
	<br>
	<button type="button" class="btn-primary btn" onclick="show('page2', 'page1')">Next</button>
</div>

<div id="page2" style="display:none">

	<h5>My portfolios: 1 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		<p>The applicant rated {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} performance as {{ player.self_eval }}.</p>
	</div>

	<label class="col-form-label">
		I estimate that the highest amount that an employer will be willing to pay for this portfolio will be:
	</label>

	<div class="slider-container">
	    <input id="rangeInput" type="range" name="wage_guess1" min="0.0" max="1.0" step="0.05" class="slider" oninput="amount.value=rangeInput.value"/>
			$<input id="amount" type="number" value="0.50" min="0.0" max="1.0" step="0.01" oninput="rangeInput.value=amount.value" style="width: 60px;"/>
	</div>
	{{ form.wage_guess1.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page1', 'page2')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page3', 'page2')">Next</button>

</div>

<div id="page3" style="display:none">

	<h5>My portfolios: 2 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		<p>When asked to rate {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} level of agreement with the statement</p>
		<p>"I performed well on the test I took in Part 1,"</p>
		<p>on a scale from 0 (entirely disagree) to 100 (entirely agree), the applicant gave the following rating:</p>
		<p><b>{{ player.self_eval_agree }} out of 100</b></p>
	</div>

	<label class="col-form-label">
		I estimate that the highest amount that an employer will be willing to pay for this portfolio will be:
	</label>

	<div class="slider-container">
	    <input id="rangeInput2" type="range" name="wage_guess2" min="0.0" max="1.0" step="0.05" class="slider" oninput="amount2.value=rangeInput2.value"/>
			$<input id="amount2" type="number" value="0.50" min="0.0" max="1.0" step="0.01" oninput="rangeInput2.value=amount2.value" style="width: 60px;"/>
	</div>
	{{ form.wage_guess2.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page2', 'page3')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page4', 'page3')">Next</button>

</div>

<div id="page4" style="display:none">

	<h5>My portfolios: 3 of 3</h5>
	<div class="profile">
		{% if player.treatment != 0 %}<img src="/static/applicant/{{ player.avatar }}" alt="Your avatar"><br>{% endif %}
		{% if player.treatment == 2 %}<p>The applicant correctly answered {{ player.eval_correct }} out of 10 application questions.</p>{% endif %}
		{% if player.self_eval_statement != "I prefer not to include either of these statements in my application."%}<p>The applicant chose the following statement to accompany {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application:</p>
		<p>{{ player.self_eval_statement }}</p>
		{% else %}<p>The applicant chose to not include any statement with {% if player.treatment == 0 %}their{% elif player.gender == "Male"%}his{% elif player.gender == "Female" %}her{% else %}their{% endif %} application.</p>{% endif %}
	</div>

	<label class="col-form-label">
		I estimate that the highest amount that an employer will be willing to pay for this portfolio will be:
	</label>

	<div class="slider-container">
	    <input id="rangeInput3" type="range" name="wage_guess3" min="0.0" max="1.0" step="0.05" class="slider" oninput="amount3.value=rangeInput3.value"/>
			$<input id="amount3" type="number" value="0.50" min="0.0" max="1.0" step="0.01" oninput="rangeInput3.value=amount3.value" style="width: 60px;"/>
	</div>
	{{ form.wage_guess3.errors }}

	<button type="button" class="btn-primary btn back" onclick="show('page3', 'page4')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="show('page5', 'page4')">Next</button>

</div>

<div id="page5" style="display:none">
	<p>Great! Now for some questions about <em>other people's</em> application profiles. The next few screens will be just like the ones you just saw, but this time the profiles you see will be potential profiles from other applicants.</p>

	<p>Once again, your task for each portfolio is to guess the highest amount that an employer who sees that portfolio would be willing to pay in exchange for 10 cents times the number of job performance questions correctly answered by the applicant.</p>

	<p>Like before, the employers will see <em>only</em> the information presented in each portfolio, plus the average number of job performance questions correctly answered by all applicants, which is {{ Constants.mean_performance }} out of 10.</p>

	<p>If one of the portfolios is selected for a bonus payment and your guess is within <em>5 cents</em> of the amount that a randomly selected employer would pay for the portfolio, your bonus payment will be $1.00.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page4', 'page5')">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startOther()">Next</button>
</div>

<div style="display:none">
	<!-- These values will not be displayed and are simply for sending parameters from the server to be used by the js code on this page -->
	<div id="wg-treatment">{{ player.wage_guess_treatment }}</div>
	<div id="wg-gender">{{ player.wage_guess_gender }}</div>
	<div id="wg-image">{{ player.wage_guess_image }}</div>
	<div id="wg-perform">{{ player.wage_guess_perform }}</div>
	<div id="wg-promote-type">{{ player.wage_guess_promote_type }}</div>
	<div id="wg-promote1">{{ player.wage_guess_promote1 }}</div>
	<div id="wg-promote2">{{ player.wage_guess_promote2 }}</div>
	<div id="wg-promote3">{{ player.wage_guess_promote3 }}</div>
</div>

<div id="page6" style="display:none">

	<h5>Other applicants' portfolios: <div id="other-app-num" style="display:inline"></div></h5>
	<div class="profile">
		<img id="app-avatar" src="" alt="Applicant avatar">
		<p id="app-performance"></p>
		<div id="app-self-eval"></div>
	</div>

	<label class="col-form-label">
		I estimate that the highest amount that an employer will be willing to pay for this portfolio will be:
	</label>

	<div class="slider-container">
	    <input id="rangeInput4" type="range" name="wage_guess4" min="0.0" max="1.0" step="0.05" class="slider" oninput="amount4.value=rangeInput4.value"/>
			$<input id="amount4" type="number" value="0.50" min="0.0" max="1.0" step="0.01" oninput="rangeInput4.value=amount4.value" style="width: 60px;"/>
	</div>
	<div id="default-range-val" style="display:none">0.5</div>
	<input id="hidden-input" type="hidden" name="wage_guess_other">
	{{ form.wage_guess_other.errors }}

	<button type="button" class="btn-primary btn back" onclick="backQuestion()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="page7" style="display:none">
	<p>That's all for the wage guesses! Click "Back" to edit your responses, or click "Next" to move on to your guesses about performance.</p>

	<button type="button" class="btn-primary btn back" onclick="show('page6', 'page7')">Back</button>
	<button class="btn-primary btn next">Next</button>
</div>


{% endblock %}

{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="{% static 'applicant/js/wageGuessOther.js' %}"></script>

{% endblock %}
