html {
    background-color: #ebebeb;
}
body {
    max-width: 720px;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
}
._formfield {
    background-color: #e1e1ea;
    margin: 10px 30px 10px 20px;
    padding: 20px 20px;
}
.next {
    float: right;
    margin: 40px auto;
    }

.back {
    float: left;
    margin: 40px auto;
    }


.nav {
    visibility: hidden;
}
.fill-blanks {
  text-align: center;
  background-color: #e1e1ea;
  max-width: 550px;
  margin: auto;
  padding: 20px 0px;
}
label {
  display: inline-block;
}
input.form-control {
  width: 100px;
  display: inline-block;
  outline: 0; border: 1px; padding: 0px; margin: 0; padding-left: 10px;
  text-align: center;
}
.slider-container {
  width: 100%;
  align-items: center;
  text-align: center;
}
.slider {
  width: 80%;
  height: 25px;
  outline: none;
  text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 9pt;
}

.highlight {
    background: #88f299;
}
