{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Instructions for Part 1
{% endblock %}

{% block content %}

<p>Each applicant portfolio you see will consist of {% if participant.vars.treatment != 0 %}(1) {% endif %}the applicant's evaluation of their own performance{% if participant.vars.treatment == 1 %} and (2) an avatar representing them{% elif participant.vars.treatment == 2 %}, (2) an avatar representing them, and (3) the number of <em>application</em> questions that they answered correctly{% endif %}.</p>

<p>Using that information, you will choose a "switching point" for each applicant, which is the maximum amount you would be willing to exchange in order to receive {{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</p>

<p>The box below contains more information about how to choose a switching point for each applicant.</p>

<div class="form-group" style="font-size:10pt">
	<p>Consider the following list of questions for each applicant:</p>

	<table>
		<tr>
			<th>Row #</th>
			<th></th>
			<th>Option A</th>
			<th>or</th>
			<th>Option B</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>1 cent</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>2 cents</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>3 cents</td>
		</tr>
		<tr>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
		</tr>
		<tr>
			<td>199</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>199 cents</td>
		</tr>
		<tr>
			<td>200</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>200 cents</td>
		</tr>
	</table>

	<br>
	<p>In each question you pick either Option A ({{ Constants.bonus_per_question }} cents for each <em>job performance</em> questions that the applicant answered correctly) or Option B (the fixed payment). After you answer all the questions, one row of the table above will be randomly picked and you will be paid for the option you chose on that one question. Each row is equally likely to be chosen for payment. It's in your interest to be honest on each question, because otherwise you may end up with the option you like less.</p>

	<p>Most people will choose Option A in at least the first few rows, but at some point switch to choosing Option B. So, to save time, we'll just ask you at which cent value you want to switch, and we'll then automatically "fill out" your answers to all the rows based on your switching point (choosing Option A for all rows before your switching point, and Option B for all rows at or after your switching point). We’ll still choose one row randomly for payment. Again, you'll want to be honest about your true switching point so you don't end up getting paid an option that you like less.</p>

	<p><b>Example</b></p>
	<p>Suppose that you choose a switching point of <em>60 cents</em> for an applicant. In the table below, we've highlighted the bonus you would get for each row:</p>
	<table>
		<tr>
			<th>Row #</th>
			<th></th>
			<th>Option A</th>
			<th>or</th>
			<th>Option B</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Would you rather have:</td>
			<td class="highlight">{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>1 cent</td>
		</tr>
		<tr>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td class="highlight">&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
		</tr>
		<tr>
			<td>59</td>
			<td>Would you rather have:</td>
			<td class="highlight">{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td>59 cents</td>
		</tr>
		<tr>
			<td>60</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td class="highlight">60 cents</td>
		</tr>
		<tr>
			<td>61</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td class="highlight">61 cents</td>
		</tr>
		<tr>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td>&vellip;</td>
			<td class="highlight">&vellip;</td>
		</tr>
		<tr>
			<td>200</td>
			<td>Would you rather have:</td>
			<td>{{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly.</td>
			<td>or</td>
			<td class="highlight">200 cents</td>
		</tr>
	</table>
</div>

<br>
<p>The key thing to keep in mind is that it is in your best interest to <u>choose a switching point equal to the maximum amount you would be willing to exchange in order to receive {{ Constants.bonus_per_question }} cents for each <em>job performance</em> question that the applicant answered correctly</u>.</p>

<p>To help you with your answers, keep in mind that the average number of <em>application</em> questions answered correctly by a job applicant is {{ Constants.mean_performance }} out of 10.</p>

<p>Complete the following statement to check your understanding before continuing:</p>
{% formfield player.understanding3 label="I can receive a bonus payment of up to $2.00 for this part. To maximize my payoff, I should choose a switching point equal to"%}
<div style="display:none" id="understanding-attempts-display">{{ player.understanding3_attempts }}</div>
<input type="hidden" name="understanding3_attempts" id="understanding-attempts-submit">
{{ form.understanding3_attempts.errors }}

<button class="btn-primary btn next">Next</button>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
	document.getElementById('understanding-attempts-submit').value = parseInt(document.getElementById('understanding-attempts-display').innerHTML) + 1;
</script>

{% endblock %}
