{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Instructions
{% endblock %}

{% block content %}

<div id="page1">
	<p>In this study, you will play the role of an <em>employer</em> evaluating job applicants. The “job applicants” are other Mturkers who participated in a different version of the study.</p>

	<p>This study has three parts: in each part you'll see a set of job application portfolios and answer some questions about them. You will have a chance to receive a bonus payment from each part.</p>

	<p>You will review the portfolios of <b>{{ participant.vars.apps_per_emp }}</b> applicants in each part of the study.</p>

	<p>By completing this study, you will receive a guaranteed payment of ${{ Constants.payment }} within 24 hours. You will also receive a bonus payment based on your responses in each of the three parts. This bonus payment will be up to ${{ Constants.max_bonus }} and will be paid to you within a week.</p>

	<br>
	<button type="button" class="btn-primary btn next" onclick="show('page2', 'page1')">Next</button>
</div>

<div id="page2" style="display:none">
	<p>Answer the following question to check your understanding before moving on to the first part of the study:<p>
	{% formfield player.understanding1 label="Which of the following is true?" %}
	<div style="display:none" id="understanding-attempts-display">{{ player.understanding1_attempts }}</div>
	<input type="hidden" name="understanding1_attempts" id="understanding-attempts-submit">
	{{ form.understanding1_attempts.errors }}
	<button type="button" class="btn-primary btn back" onclick="show('page1', 'page2')" style="display:block">Back</button>
	<button class="btn-primary btn next" style="display:block">Next</button>
</div>

{% endblock %}


{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="/static/global/js/checkUnderstanding.js" onload="checkUnderstanding('id_understanding1', 'page2', 'page1')"></script>

<script type="text/javascript">
	document.getElementById('understanding-attempts-submit').value = parseInt(document.getElementById('understanding-attempts-display').innerHTML) + 1;
</script>

{% endblock %}
