{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Part 2 - Performance guesses
{% endblock %}

{% block content %}

<div id="participant-treatment" style="display: none">{{ participant.vars.treatment }}</div>
<div id="apps-per-emp1" style="display: none">{{ participant.vars.apps_per_emp1 }}</div>
<div id="apps-per-emp2" style="display: none">{{ participant.vars.apps_per_emp2 }}</div>
<div id="apps-per-emp3" style="display: none">{{ participant.vars.apps_per_emp3 }}</div>
<div id="default-bid" style="display: none">5</div>
<div id="participant-gender" style="display: none">{{ participant.vars.gender }}</div>
<div id="participant-avatar" style="display: none">{{ participant.vars.avatar }}</div>
<div id="participant-eval-correct" style="display: none">{{ participant.vars.eval_correct }}</div>
<div id="participant-self-eval" style="display: none">{{ participant.vars.self_eval }}</div>
<div id="participant-self-eval-agree" style="display: none">{{ participant.vars.self_eval_agree }}</div>
<div id="participant-self-eval-statement" style="display: none">{{ participant.vars.self_eval_statement }}</div>
<input id="player-bids" type="hidden" name="perform_guesses">
{{ form.perform_guesses.errors }}

<div id="part1explain" style="display: block">
	<p>You are now ready to start making performance guesses for the applicants.</p>

	<p>Like in Part 1, the first 10 application portfolios you see will show how the applicant in each portfolio answered a question in which they indicated whether they thought that their performance on the test, relative to others, was <em>terrible, not good, neutral, good, very good, or exceptional</em>. You will use that information to guess the number of <em>job performance</em> questions correctly answered by each applicant.</p>

	<br>
	<p>To help you with your guesses, keep in mind that the average number of <em>application</em> questions correctly answered by a job applicant is {{ Constants.mean_performance }} out of 10.</p>

	<button type="button" class="btn-primary btn next" onclick="startPart1()">Next</button>
</div>

<div id="part2explain" style="display: none">
	<p>the next {{ participant.vars.apps_per_emp2 }} application portfolios you see will show how the applicant in each portfolio indicated their level of agreement on a scale from 0 (entirely disagree) to 100 (entirely agree) with the statement "I performed well on the test I took in Part 1."</p>

	<p>You will use that information to guess the number of <em>job performance</em> questions correctly answered by each applicant.</p>

	<p>Again, keep in mind that the average number of <em>application</em> questions correctly answered by a job applicant is {{ Constants.mean_performance }} out of 10.</p>

	<button type="button" class="btn-primary btn back" onclick="backToPart1()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startPart2()">Next</button>
</div>

<div id="part3explain" style="display: none">
	<p>the next {{ participant.vars.apps_per_emp3 }} application portfolios you see will each have one of the following statements, which the applicant in that decision chose to include:</p>
	<ul>
		<li>"Usually I am the best at what I do, and therefore I would succeed in a job that required me to perform well in tasks similar to the test in Part 1."</li>
		<li>"I conduct all tasks assigned to me with the needed attention, and therefore I would work hard in a job that required me to perform well in tasks similar to the test in Part 1."</li>
		<li>I prefer not to include either of these statements in my application.</li>
	</ul>
	<p>You will use that information to guess the number of <em>job performance</em> questions correctly answered by each applicant.</p>

	<br>
	<p>Again, keep in mind that the average number of <em>application</em> questions correctly answered by a job applicant is {{ Constants.mean_performance }} out of 10.</p>

	<button type="button" class="btn-primary btn back" onclick="backToPart2()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startPart3()">Next</button>
</div>

<div id="questions" style="display:none">

	<h4 id="question-indicator">Applicant <span id="question-number">1</span> of {{ participant.vars.apps_per_emp }}:</h4>

	<div class="form-group" style="text-align:center">
		<img id="avatar" src="" alt="Applicant avatar" style="display:block; margin-left: auto; margin-right: auto; width: 30%; max-width: 150px;">

		<div id="display-eval-correct" style="font-style: italic">The applicant correctly answered <span id="eval-correct"></span> out of 10 application questions.</div>

		<div id="self-eval"></div>
		<div id="self-eval-agree"></div>
		<div id="self-eval-statement"></div>

	</div>

	<p>Use the slider below to guess the number of <em>job performance</em> questions correctly answered by this applicant:</p>
	<div class="slider-container">
	    <input id="rangeInput" type="range" min="0" max="10" step="1" class="slider" onclick="updateAmount()" oninput="updateAmount()"/>
			<p><span id="amount" style="font-weight:bold">--</span> out of 10</p>
	</div>
	<div id="no-response-message" style="display: none; color: red;">Please use the slider to select a value before moving on.</div>

	<br>
	<button type="button" class="btn-primary btn back" onclick="back()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="forward()">Next</button>
</div>

<div id="finished" style="display:none">
	<p>That's all the questions for this part of the study! Click "Next" to move on to Part 3, or click "Back" if you want to change your answers.</p>

	<br>
	<button type="button" class="btn-primary btn back" onclick="back()">Back</button>
	<button class="btn-primary btn next">Next</button>
</div>
{% endblock %}


{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="{% static 'employer/js/bidding.js' %}"></script>

{% endblock %}
