{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}



{% endblock %}

{% block title %}
	Part 3 - Social Appropriateness
{% endblock %}

{% block content %}

<div id="participant-treatment" style="display: none">{{ participant.vars.treatment }}</div>
<div id="apps-per-emp1" style="display: none">{{ participant.vars.apps_per_emp1 }}</div>
<div id="apps-per-emp2" style="display: none">{{ participant.vars.apps_per_emp2 }}</div>
<div id="apps-per-emp3" style="display: none">{{ participant.vars.apps_per_emp3 }}</div>
<div id="default-bid" style="display: none">X</div>
<div id="participant-gender" style="display: none">{{ participant.vars.gender }}</div>
<div id="participant-avatar" style="display: none">{{ participant.vars.avatar }}</div>
<div id="participant-eval-correct" style="display: none">{{ participant.vars.eval_correct }}</div>
<div id="participant-self-eval" style="display: none">{{ participant.vars.self_eval }}</div>
<div id="participant-self-eval-agree" style="display: none">{{ participant.vars.self_eval_agree }}</div>
<div id="participant-self-eval-statement" style="display: none">{{ participant.vars.self_eval_statement }}</div>

<div id="part1explain" style="display: block">
	<p>You are now ready to start reviewing the social appropriateness of the application portfolios.</p>

	<p>Like in the previous two parts of the study, the first 10 application portfolios you see will show how the applicant in each portfolio answered a question in which they indicated whether they thought that their performance on the test, relative to others, was <em>terrible, not good, neutral, good, very good, or exceptional</em>.</p>

	<p>For each portfolio, you will indicate whether the contents of the portfolio are:</p>
	<ul>
		<li>Very socially inappropriate</li>
		<li>Socially inappropriate</li>
		<li>Somewhat socially inappropriate</li>
		<li>Somewhat socially appropriate</li>
		<li>Socially appropriate</li>
		<li>Very socially appropriate</li>
	</ul>

	<br>
	<button type="button" class="btn-primary btn next" onclick="startPart1()">Next</button>
</div>

<div id="part2explain" style="display: none">
	<p>the next {{ participant.vars.apps_per_emp2 }} application portfolios you see will show how the applicant in each portfolio indicated their level of agreement on a scale from 0 (entirely disagree) to 100 (entirely agree) with the statement "I performed well on the test I took in Part 1."</p>

	<p>For each portfolio you see, indicate how socially appropriate you think the responses are.</p>

	<button type="button" class="btn-primary btn back" onclick="backToPart1()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startPart2()">Next</button>
</div>

<div id="part3explain" style="display: none">
	<p>the next {{ participant.vars.apps_per_emp3 }} application portfolios you see will each have one of the following statements, which the applicant in that decision chose to include:</p>
	<ul>
		<li>"Usually I am the best at what I do, and therefore I would succeed in a job that required me to perform well in tasks similar to the test in Part 1."</li>
		<li>"I conduct all tasks assigned to me with the needed attention, and therefore I would work hard in a job that required me to perform well in tasks similar to the test in Part 1."</li>
		<li>I prefer not to include either of these statements in my application.</li>
	</ul>
	<p>For each portfolio you see, indicate how socially appropriate you think the responses are.</p>

	<button type="button" class="btn-primary btn back" onclick="backToPart2()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="startPart3()">Next</button>
</div>

<div id="questions" style="display:none">

	<h4 id="question-indicator">Applicant <span id="question-number">1</span> of {{ participant.vars.apps_per_emp }}:</h4>

	<div class="form-group" style="text-align:center">
		<img id="avatar" src="" alt="Applicant avatar" style="display:block; margin-left: auto; margin-right: auto; width: 30%; max-width: 150px;">

		<div id="display-eval-correct" style="font-style: italic">The applicant correctly answered <span id="eval-correct"></span> out of 10 application questions.</div>

		<div id="self-eval"></div>
		<div id="self-eval-agree"></div>
		<div id="self-eval-statement"></div>

	</div>

	<p>Choose one of the options below to indicate how socially appropriate you think this application portfolio is:</p>
	<div class="form-group required">
		<div class="controls field-soc_approp_ratings">
			<ul id="id_soc_approp_ratings">
				<li>
					<label for="id_soc_approp_ratings_0">
						<input type="radio" value="0" name="ago" required id="id_soc_approp_ratings_0" class="form-check-input">
						Very socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_soc_approp_ratings_1">
						<input type="radio" value="1" name="ago" required id="id_soc_approp_ratings_1" class="form-check-input">
						Socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_soc_approp_ratings_2">
						<input type="radio" value="2" name="ago" required id="id_soc_approp_ratings_2" class="form-check-input">
						Somewhat socially inappropriate
					</label>
				</li>
				<li>
					<label for="id_soc_approp_ratings_3">
						<input type="radio" value="3" name="ago" required id="id_soc_approp_ratings_3" class="form-check-input">
						Somewhat socially appropriate
					</label>
				</li>
				<li>
					<label for="id_soc_approp_ratings_4">
						<input type="radio" value="4" name="ago" required id="id_soc_approp_ratings_4" class="form-check-input">
						Socially appropriate
					</label>
				</li>
				<li>
					<label for="id_soc_approp_ratings_5">
						<input type="radio" value="5" name="ago" required id="id_soc_approp_ratings_5" class="form-check-input">
						Very socially appropriate
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div id="no-response-message" style="display: none; color: red;">Please choose one of the options above before moving on.</div>
	<input id="player-bids" type="hidden" name="soc_approp_ratings">
	{{ form.soc_approp_ratings.errors }}

	<br>
	<button type="button" class="btn-primary btn back" onclick="back()">Back</button>
	<button type="button" class="btn-primary btn next" onclick="forward()">Next</button>
</div>

<div id="finished" style="display:none">
	<p>You've finished all the parts of the study! Click "Back" to edit your responses, or click "Next" to finish the study.</p>

	<br>
	<button type="button" class="btn-primary btn back" onclick="back()">Back</button>
	<button class="btn-primary btn next">Next</button>
</div>
{% endblock %}


{% block scripts %}

<script src="/static/global/js/show.js"></script>
<script src="{% static 'employer/js/bidding.js' %}"></script>
<script src="{% static 'employer/js/soc_approp.js' %}"></script>

{% endblock %}
