{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Finished!
{% endblock %}

{% block content %}

  <p>Thank you for your participation!</p><br>

  <p>You correctly answered {{ player.eval_correct }} of the 10 bonus questions, so we'll send you a bonus payment of ${{ total_bonus }}, in addition to your base payment of ${{ Constants.payment }}.</p>

  Here's your task completion code:
  <div class="form-group" style="font-size: 13pt">
    basedist{{ player.eval_correct }}-{{ player.noneval_correct }}
  </div>
  After copying the code, you can close this tab and return to MTurk.

{% endblock %}
