{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Demographic survey
{% endblock %}

{% block content %}

    <p>This study starts with a short demographic survey followed by tasks involving decision making. Please answer the following survey questions to the best of your ability.</p>


    {% formfield player.gender label="What gender do you identify as?" %}

    {% formfield player.age label="What is your age?" %}

    {% formfield player.ethnicity label="Please specify your ethnicity."%}

    {% formfield player.education label="What is the highest degree or level of education you have completed?"%}

    {% formfield player.household_income label="What is your annual household income?" %}

    {% formfield player.home_state label="What state do you live in?" %}

    {% formfield player.married label="Are you married?" %}

    {% formfield player.employed label="What is your current employment status?" %}

    {% formfield player.religion label="If applicable, please specify your religion." %}

    {% formfield player.politics label="How would you describe your political views?" %}

    {% next_button %}
{% endblock %}
