{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}


<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		max-width: 300px;
	}
</style>

{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

<div id="display-order" style="display:none">
  {{ player.question_order }}
</div>
<div id="bank-size" style="display:none">32</div>

<div id="0">
	<p>We're ready to start answering ASVAB questions. There will be a total of 20 questions, and you cannot go back to questions that you've already answered. For any questions where you don't know the answer, just make your best attempt.</p>

	<p>Click "Next" to start the ASVAB questions.</p>

	<button type="button" class="btn-primary btn next" onclick="beginQuestions()">Next</button>
</div>

<h4 id="question-indicator" style="display:none"> Question <span id="question-number">1</span> of 20:</h4>

<div id="1" style="display:none">
{% formfield player.q1 label="If a pencil is placed in a clear glass of water and viewed from the side, the pencil will appear to bend sharply at the top of the water. This is due to a phenomenon known as __________." %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="2" style="display:none">
{% formfield player.q2 label="Which of the following activities results in a chemical change?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="3" style="display:none">
{% formfield player.q3 label="A centimeter is" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="4" style="display:none">
{% formfield player.q4 label="Animals that consume only plants are called" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="5" style="display:none">
{% formfield player.q5 label="If |y-3|=3, what is the greatest possible value of y?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="6" style="display:none">
{% formfield player.q6 label="Two teams are having a contest in which the prize is a box of candy that the members of the winning team will divide evenly. If team A wins, each player will get exactly 3 pieces of candy, and if team B wins, each player will get exactly 5 pieces of candy. Which of the following could be the number of pieces of candy in the box?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="7" style="display:none">
{% formfield player.q7 label="What is the least common multiple of 7, 9, and 21?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="8" style="display:none">
{% formfield player.q8 label="A copier can make 150 copies per minute. At this rate, how many minutes would it take to make 4,500 copies?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="9" style="display:none">
{% formfield player.q9 label="What is the height of a rectangular box with volume of 140, length of 10, and width of 7?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="10" style="display:none">
{% formfield player.q10 label="(3d - 7) - (5 - 2d) =" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="11" style="display:none">
{% formfield player.q11 label="The following two points lie on a line on the coordinate grid: (-2, 0) and (4, 6). Which of the following is the equation of the line?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="12" style="display:none">
{% formfield player.q12 label="Manuel is 4 years older than Grace. The total of their ages in years is 30. How old will Manuel be 3 years from now?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="13" style="display:none">
{% formfield player.q13 label="The work required to lift an object is the same as" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="14" style="display:none">
{% formfield player.q14 label="Adam's car is stuck in the mud, so he recruits some friends to help push it out. If they apply 2,000 N of force to push the car 5 m, how much work did they accomplish?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="15" style="display:none">
{% formfield player.q15 label="All of the following statements about liquids are true EXCEPT" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="16" style="display:none">
{% formfield player.q16 label="A man pushes against an object at rest but fails to get it moving. Which of the following must be true about the relationship between the applied force and the force of friction?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="17" style="display:none">
{% formfield player.q17 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes1.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="18" style="display:none">
{% formfield player.q18 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes2.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="19" style="display:none">
{% formfield player.q19 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes3.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="20" style="display:none">
{% formfield player.q20 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes4.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="21" style="display:none">
{% formfield player.q21 label="Which of the following best describes the difference between eukaryotic cells and prokaryotic cells?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="22" style="display:none">
{% formfield player.q22 label="A machine in an assembly plant lifts parts weighing 10 N from the floor to a height of 2 m. If this machine must lift batches of 20 parts at a time in 2 seconds, what amount of power is required?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="23" style="display:none">
{% formfield player.q23 label="From 1980 through 1990, the population of Country X increased by 100%. From 1990 to 2000, the population increased by 50%. What was the combined increase for the period 1980-2000?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="24" style="display:none">
{% formfield player.q24 label="When D is divided by 15, the result is 6 with a remainder of 2. What is the remainder when D is divided by 6?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="25" style="display:none">
{% formfield player.q25 label="Select the answer that best shows how the object will look when the parts in the box are put together." %}
<img src="{% static 'applicant/shapes5.png' %}" alt="Select the answer that best shows how the object will look when the parts in the box are put together.">
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="26" style="display:none">
{% formfield player.q26 label="Which of the following statements cannot be true under any circumstances?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="27" style="display:none">
{% formfield player.q27 label="The Greek letter delta, Δ, represents the sensitivity of the price of stock options to price movements of the stock upon which the derivative option is based. If an option has Δ = 0.50, then a $1.00 increase in the underlying stock should result in a $0.50 increase in the value of that option. Joseph owns an option of 200 shares of XYZ Corporation. That stock is currently priced at $45.00 per share. If the price of the stock of XYZ were to decrease by 2%, what would be the expected change in the value of Joseph's option if its Δ = 0.40?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="28" style="display:none">
{% formfield player.q28 label="Potassium (K), which is in Group 1 of the Periodic Table of Elements, and chlorine (Cl), which is in Group 17, will bond together to form potassium chloride (KCl). How will this compound behave when dissolved in pure water?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="29" style="display:none">
{% formfield player.q29 label="Which of the following is NOT true about the element hydrogen (H)?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="30" style="display:none">
{% formfield player.q30 label="A man who weighs 800 N wants to compress some loose soil in his garden, so he puts a thick plate that is 1/2 m wide and 3 / 4 m long on the ground and stands on the plate. Assuming that the plate weighs 100 N and distributes the man's weight evenly, how much pressure is applied to the soil?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="31" style="display:none">
{% formfield player.q31 label="A ball with a mass of 10 kg falls off a ledge that is 20 m high. What is its approximate speed when it hits the bottom, ignoring air resistance?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="32" style="display:none">
{% formfield player.q32 label="A hydraulic lift has a 2 cm diameter piston that exerts a downward force of 20 N on the incompressible fluid in a closed system. If the piston that is at the other end has a diameter of 20 cm, how much upward force can it exert?" %}
<br>
<button type="button" class="btn-primary btn next" onclick="nextQuestion()">Next</button>
</div>

<div id="done" style="display:none">
<h5>Complete!</h5>
<p>That's all of the ASVAB questions! Click "Next" to continue.</p>
<button class="btn-primary btn next">Next</button>
</div>

<p id="not-complete-error" style="color:red; display:none">Select one of the choices to continue.</p>

{% endblock %}

{% block scripts %}

<script src="{% static 'global/js/asvabqs.js' %}"></script>

{% endblock %}
