{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}


<style>
	input[type=radio] {
		display: block;
		margin: 0 auto;
	}
	label {
		display: inline-block;
		text-align: center;
		font-size: 11pt;
	}
	em {
		color: purple;
	}
</style>

{% endblock %}

{% block title %}
	Decision Screen 1a
{% endblock %}

{% block content %}

<p>{{ player.name }} takes the cognitive ability test, and {{ player.pronoun }} is informed {{ player.pronoun }} answered <b>{{ player.ability_score }} out of 20</b> questions correctly. {% if player.pronoun == 'he' %}He{% else %}She{% endif %} is also informed that among 100 prior interviewees, {{ player.pronoun_possessive }} performance was <b>better than {{ player.ability }}</b> of them and <b>worse than {{ player.ability_comp }}</b> of them.</p>

<p>{{ player.name }} is then asked to self-assess {{ player.pronoun_possessive }} performance on the following scale.</p>
<p>“My performance on the test was: a) terrible, b) very poor, c) neutral, d) good, e) very good, f) exceptional”</p>

<p>{{ player.name }} submits {{ player.pronoun_possessive }} self-evaluation answers to be considered as part of {{ player.pronoun_possessive }} interview portfolio.<p>

<br>


<p>TASK: Your task is to rate {{ player.name }}’s self-evaluation decision based on your guess of whether
your <u>MATCH</u> would think that the decision is “socially appropriate” and “consistent with
what most people who are like you would think {{ player.name }} OUGHT to do.” <u>If your rating is the same as your MATCH’s rating, you will earn a bonus of 20 cents</u>.</p>


<button type="button" class="btn-primary btn next" id="button" onclick="show()" style="display:block">Continue to questions</button>

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">


  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()">Tab 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Tab 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">Tab 4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()">Tab 5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()">Tab 6</a>
  </li>

</ul>

<!-- Tab content -->
<div id="to_show" style="display:none">
<div class="tab-content" id="myTabContent">

<br>

<div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<h4>Question 1 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>terrible</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_terrible">
	  <div id="id_match_guess_terrible" class="form-row">

			<label for="id_match_guess_terrible_0" class="col"><input type="radio" name="match_guess_terrible" value="Very socially inappropriate"
			 required id="id_match_guess_terrible_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_terrible_1" class="col"><input type="radio" name="match_guess_terrible" value="Socially inappropriate"
			 required id="id_match_guess_terrible_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_terrible_2" class="col"><input type="radio" name="match_guess_terrible" value="Somewhat socially inappropriate"
			 required id="id_match_guess_terrible_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_terrible_3" class="col"><input type="radio" name="match_guess_terrible" value="Somewhat socially appropriate"
			 required id="id_match_guess_terrible_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_terrible_4" class="col"><input type="radio" name="match_guess_terrible" value="Socially appropriate"
			 required id="id_match_guess_terrible_4">
			 Socially appropriate</label>

			<label for="id_match_guess_terrible_5" class="col"><input type="radio" name="match_guess_terrible" value="Very socially appropriate"
			 required id="id_match_guess_terrible_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

</div>

<div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part3-tab">

<h4>Question 2 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>very poor</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_very_poor">
	  <div id="id_match_guess_very_poor" class="form-row">

			<label for="id_match_guess_very_poor_0" class="col"><input type="radio" name="match_guess_very_poor" value="Very socially inappropriate"
			 required id="id_match_guess_very_poor_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_very_poor_1" class="col"><input type="radio" name="match_guess_very_poor" value="Socially inappropriate"
			 required id="id_match_guess_very_poor_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_very_poor_2" class="col"><input type="radio" name="match_guess_very_poor" value="Somewhat socially inappropriate"
			 required id="id_match_guess_very_poor_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_very_poor_3" class="col"><input type="radio" name="match_guess_very_poor" value="Somewhat socially appropriate"
			 required id="id_match_guess_very_poor_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_very_poor_4" class="col"><input type="radio" name="match_guess_very_poor" value="Socially appropriate"
			 required id="id_match_guess_very_poor_4">
			 Socially appropriate</label>

			<label for="id_match_guess_very_poor_5" class="col"><input type="radio" name="match_guess_very_poor" value="Very socially appropriate"
			 required id="id_match_guess_very_poor_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button type="button" class="nexttab btn-primary btn next">Next</button>

</div>

<div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

<h4>Question 3 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>neutral</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_neutral">
	  <div id="id_match_guess_neutral" class="form-row">

			<label for="id_match_guess_neutral_0" class="col"><input type="radio" name="match_guess_neutral" value="Very socially inappropriate"
			 required id="id_match_guess_neutral_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_neutral_1" class="col"><input type="radio" name="match_guess_neutral" value="Socially inappropriate"
			 required id="id_match_guess_neutral_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_neutral_2" class="col"><input type="radio" name="match_guess_neutral" value="Somewhat socially inappropriate"
			 required id="id_match_guess_neutral_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_neutral_3" class="col"><input type="radio" name="match_guess_neutral" value="Somewhat socially appropriate"
			 required id="id_match_guess_neutral_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_neutral_4" class="col"><input type="radio" name="match_guess_neutral" value="Socially appropriate"
			 required id="id_match_guess_neutral_4">
			 Socially appropriate</label>

			<label for="id_match_guess_neutral_5" class="col"><input type="radio" name="match_guess_neutral" value="Very socially appropriate"
			 required id="id_match_guess_neutral_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button type="button" class="nexttab btn-primary btn next">Next</button>

</div>

<div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">

<h4>Question 4 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>good</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_good">
	  <div id="id_match_guess_good" class="form-row">

			<label for="id_match_guess_good_0" class="col"><input type="radio" name="match_guess_good" value="Very socially inappropriate"
			 required id="id_match_guess_good_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_good_1" class="col"><input type="radio" name="match_guess_good" value="Socially inappropriate"
			 required id="id_match_guess_good_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_good_2" class="col"><input type="radio" name="match_guess_good" value="Somewhat socially inappropriate"
			 required id="id_match_guess_good_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_good_3" class="col"><input type="radio" name="match_guess_good" value="Somewhat socially appropriate"
			 required id="id_match_guess_good_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_good_4" class="col"><input type="radio" name="match_guess_good" value="Socially appropriate"
			 required id="id_match_guess_good_4">
			 Socially appropriate</label>

			<label for="id_match_guess_good_5" class="col"><input type="radio" name="match_guess_good" value="Very socially appropriate"
			 required id="id_match_guess_good_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button type="button" class="nexttab btn-primary btn next">Next</button>

</div>

<div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part5-tab">

<h4>Question 5 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>very good</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_very_good">
	  <div id="id_match_guess_very_good" class="form-row">

			<label for="id_match_guess_very_good_0" class="col"><input type="radio" name="match_guess_very_good" value="Very socially inappropriate"
			 required id="id_match_guess_very_good_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_very_good_1" class="col"><input type="radio" name="match_guess_very_good" value="Socially inappropriate"
			 required id="id_match_guess_very_good_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_very_good_2" class="col"><input type="radio" name="match_guess_very_good" value="Somewhat socially inappropriate"
			 required id="id_match_guess_very_good_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_very_good_3" class="col"><input type="radio" name="match_guess_very_good" value="Somewhat socially appropriate"
			 required id="id_match_guess_very_good_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_very_good_4" class="col"><input type="radio" name="match_guess_very_good" value="Socially appropriate"
			 required id="id_match_guess_very_good_4">
			 Socially appropriate</label>

			<label for="id_match_guess_very_good_5" class="col"><input type="radio" name="match_guess_very_good" value="Very socially appropriate"
			 required id="id_match_guess_very_good_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button type="button" class="nexttab btn-primary btn next">Next</button>

</div>

<div class="tab-pane" id="part6" role="tabpanel" aria-labelledby="part6-tab">

<h4>Question 6 of 6</h4>

Suppose {{ player.name }} indicated that {{ player.pronoun_possessive }} performance on the test was <em>exceptional</em>. (Recall that {{ player.name }} knows that {{ player.pronoun }} correctly answered {{ player.ability_score }} out of 20 questions. Among 100 prior interviews, {{ player.pronoun_possessive }} performance was better than {{ player.ability }} of them and worse than {{ player.ability_comp }} of them.)

<br>

<div class="form-group required">
	<p>I think my MATCH will rate this decision as:</p>
	<div class="controls  field-match_guess_exceptional">
	  <div id="id_match_guess_exceptional" class="form-row">

			<label for="id_match_guess_exceptional_0" class="col"><input type="radio" name="match_guess_exceptional" value="Very socially inappropriate"
			 required id="id_match_guess_exceptional_0">
			 Very socially inappropriate</label>

			<label for="id_match_guess_exceptional_1" class="col"><input type="radio" name="match_guess_exceptional" value="Socially inappropriate"
			 required id="id_match_guess_exceptional_1">
			 Socially inappropriate</label>

			<label for="id_match_guess_exceptional_2" class="col"><input type="radio" name="match_guess_exceptional" value="Somewhat socially inappropriate"
			 required id="id_match_guess_exceptional_2">
			 Somewhat socially inappropriate</label>

			<label for="id_match_guess_exceptional_3" class="col"><input type="radio" name="match_guess_exceptional" value="Somewhat socially appropriate"
			 required id="id_match_guess_exceptional_3">
			 Somewhat socially appropriate</label>

			<label for="id_match_guess_exceptional_4" class="col"><input type="radio" name="match_guess_exceptional" value="Socially appropriate"
			 required id="id_match_guess_exceptional_4">
			 Socially appropriate</label>

			<label for="id_match_guess_exceptional_5" class="col"><input type="radio" name="match_guess_exceptional" value="Very socially appropriate"
			 required id="id_match_guess_exceptional_5">
			 Very socially appropriate</label>

		</div>
	</div>
</div>

<br>

<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button onclick="checkSubmit()" class="btn-primary btn next">Next</button>

</div>

</div>

</div>

{{ form.match_guess_terrible.errors }}
{{ form.match_guess_very_poor.errors }}
{{ form.match_guess_neutral.errors }}
{{ form.match_guess_good.errors }}
{{ form.match_guess_very_good.errors }}
{{ form.match_guess_exceptional.errors }}

{% endblock %}

{% block scripts %}

<script src="{% static 'gender_norms/js/prev_next_button.js' %}"></script>
<script src="{% static 'gender_norms/js/show.js' %}"></script>
<script src="{% static 'gender_norms/js/check-submit.js' %}"></script>

{% endblock %}
