{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style>
	label {
		display: inline-block;
	}
	::placeholder {
		color: #f2f2f2;
	}
	input.form-control {
		width: 100px;
		display: inline-block;
		text-align: center;
	}
	ul.errorlist {
    list-style-type: none;
	}
	li {
		color: red;
	}
</style>
{% endblock %}

{% block title %}
	Experiment Instructions
{% endblock %}

{% block content %}

<p>We are ready to start part two.</p>

<p>For the same situation that {{ player.name }} is in, we want to know your <b>personal opinion</b> about how appropriate {{ player.name }}'s decision is in the situation. Please read carefully and tell us your true opinion. You <b>do not</b> have to match your answer with a MATCH for this and will not get a bonus for these questions.</p>

<br>


<br>
	<p><b>Understanding question:</b> Is the following statement true or false? Type either "true" or "false" in the blank.</p>
	<div class="form-group">
		<p style>I will report my personal opinion on how appropriate {{ player.name }}’s decision is in a given situation. I will not earn a bonus of 20 cents for each question if my answer matches with the answer of my MATCH in the personal opinion question.</p>
		<div style="text-align: center">
			<input type="text" name="understanding3" maxlength="5" size="5" required id="id_understanding3" placeholder="- - - -" class="form-control">
		</div>
	</div>

<br>
	{{ form.understanding3.errors }}
<br>

{% next_button %}

{% endblock %}
